/*
    projekt:
        SEMESTRÁLNÍ PRÁCE
        03 Řídicí pult RPi2 LEDs
           (Webové rozhraní pro ovládání LED na desce Raspberry Pi 2 Model B)

    autor:
        jméno     :  Martin TÁBOR
        kontakt   :  st72836@student.upce.cz
        škola     :  UPCE - FEI
        obor      :  Webové technologie (Bc., komb.)

    předmět:
        název     :  World Wide Web (KWWW)
        rok       :  ZS 2023/24
        vyučující :  Ing. Lukáš ČEGAN, Ph.D.

    soubor:
        název     :  styly.css
        verze     :  1.0.0
        datum     :  2023-12-15
*/


body {
	margin: 0;
	font-family: "Inconsolata", monospace;
	font-size: 12pt;
}

#chyba {
	margin: auto;
	margin: 25px auto;
	padding: 10px;
	text-align: center;
	width: 75%;
	font-weight: bold;
	background-color: #FFFF00;
	border: 3px dashed #000;
}

header {
	padding: 50px 30px 50px 30px;
	background-color: #008080;
	color: #FFFFFF;
	border-bottom: 3px dashed #FFFF00;
}

header h1 {
	margin: 0;
}

main {
	padding: 10px 0 10px 0;
	text-align: center;
}

.ovladace_tabulka {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;

}

.ovladace_tabulka th, td {
	margin: 0;
	padding: 0;
	color: #FFF;
}

.ovladace_tlacitkoOn, .ovladace_tlacitkoOff {
	width: 100%;
	height: 100px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.ovladace_tlacitkoOn:hover, .ovladace_tlacitkoOff:hover {
	background-color: #FFFF00;
	color: #000;
}

.ovladace_tlacitkoOn:focus, .ovladace_tlacitkoOff:focus {
	background-color: #FFFF00;
	color: #000;
}

.ovladace_tlacitkoOn {
	background-color: #008080;
	color: #FFF;
	border: 2px solid #008080;
}

.ovladace_tlacitkoOff {
	background-color: #FFF;
	color: #000;
	border: 2px solid #000;
}

.ovladace_stav {
	color: #000;
	font-weight: bold;
	text-align: center;
	border: 3px dashed #000;
	border-radius: 50px;
}

.ovladace_stav-zapnuto {
	margin: auto;
	width: 60px;
	height: 60px;
	padding: 40px 30px 0 30px;
	background-color: #00FF00;
	border: 3px dashed #000;
	border-radius: 50px;
}

.ovladace_stav-vypnuto {
	margin: auto;
	width: 60px;
	height: 60px;
	padding: 40px 30px 0 30px;
	background-color: #FF0000;
	border: 3px dashed #000;
	border-radius: 50px;
}

footer {
	padding: 30px;
	background-color: #008080;
	color: #FFFFFF;
	border-top: 3px dashed #FFFF00;
}

#prispevek {
	display: none;
	color: #DBDBDB;
	font-size: 14pt;
}

.prispevek {
	text-decoration: none;
}
